# Includelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

example_PostProcessingManager/*
!example_PostProcessingManager/src

!example_PostProcessingManager/bin
!example_PostProcessingManager/bin/data





*/*/xcuserdata
*/*/*/xcuserdata
